.topbar {
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  background: #fff;
  padding: 15px 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.content {
  margin-left: $sidebar-width;
  padding: $padding-top 25px;
  max-width: 1200px;
}

.title {
  margin-top: 17px;
  margin-bottom: 20px;
}

.login-page {
  max-width: 500px;
  margin: 100px auto 0;
}

.new-node {
  .elm {
    display: inline-block;
    width: 200px;
    margin-right: 10px;
  }
}

$border-color: #e0e0e1;
.nodes {
  border-top: 1px solid $border-color;
  .node {
    border-bottom: 1px solid $border-color;
  }
  .user-tag {
    display: inline-block;
    padding: 5px 7px;
    border: 1px solid #e0e0e1;
    border-radius: 3px;
    vertical-align: middle;
    &:not(:last-child) {
      margin-right: 5px;
    }
    .remove-owner {
      display: inline-block;
      color: inherit;
      text-decoration: none;
      margin-left: 5px;
    }
  }
  .owner-add {
    display: inline-block;
    margin-left: 20px;
    white-space: nowrap;
    vertical-align: middle;
  }
  .user-select {
    display: inline-block;
    width: 140px;
    margin-right: 5px;
    vertical-align: middle;
  }
  .api-key {
    display: inline-block;
    word-wrap: break-word;
    max-width: 100%;
    margin-right: 10px;
  }
  .node-delete-buttons {
    /*
    display: inline-block;
    margin-left: 60px;
    */
    margin-top: 20px;
    white-space: nowrap;
    > button {
      margin-right: 10px;
    }
  }
}

.form {
  max-width: 600px;
}

.lookup-link {
  display: inline-block;
  padding: 3px 5px;
  margin-left: 10px;
  border: 1px solid #a0a0f0;
}

.host-data {
  .protocol {
    margin-top: 10px;
  }
  .service {
    margin-left: 25px;
    cursor: pointer;
  }
  .sessions {
    margin-left: 50px;
  }
  .session {
    cursor: pointer;
  }
  .events,
  .eventData {
    width: 50%;
    float: left;
  }
  .service-sessions {
    .sessions {
      max-height: 0;
      overflow-y: hidden;
    }
    .opened-icon {
      display: none;
    }
    &.open {
      .sessions {
        max-height: 9999px;
      }
      .opened-icon {
        display: inline-block;
      }
      .closed-icon {
        display: none;
      }
    }
  }
}

.visual-graph-container {
  margin: 30px 10px;
  padding-top: 45%;
  position: relative;
  .inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .server {
    width: 100px !important;
  }
  .node {
    width: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -40%, 0);
    background: #fff;
    z-index: 1;
    img {
      display: block;
      max-width: 100%;
    }
    .title {
      margin-top: 5px;
      text-align: center;
    }
    &:hover {
      .node-tooltip {
        display: block;
      }
    }
  }
  .node-content {
    position: relative;
    z-index: 100;
  }
  .node-tooltip {
    border: 1px solid #3C719F;
    position: absolute;
    left: 30px;
    top: 95%;
    min-width: 200px;
    display: none;
    background: #fff;
    z-index: 101;
    .theader {
      text-align: center;
      padding: 5px;
      background: #4F88BB;
      color: #fff;
    }
    .tcontent {
      padding: 10px 15px;
    }
  }
  .node-status {
    position: absolute;
    right: 0;
    top: -17px;
    background: #000;
    border-radius: 3px;
    padding: 4px 3px;
    .light {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 999px;
      background: #a0a0a0;
      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }
  .safe {
    .light:nth-child(3) {
      background-color: #00ff00;
    }
    .event-count {
      color: #00ff00;
    }
  }
  .neutral {
    .light:nth-child(2) {
      background-color: #ffff00;
    }
    .event-count {
      color: #ffff00;
    }
  }
  .danger {
    .light:nth-child(1) {
      background-color: #ff0000;
    }
    .event-count {
      color: #ff0000;
    }
  }
}

.logout-link {
  float: right;
  margin-top: 5px;
}
