.content {
  margin-left: $sidebar-width;
  padding: $padding-top 25px;
  max-width: 1200px;
}

.title {
  margin-top: 17px;
  margin-bottom: 20px;
}

.login-page {
  max-width: 500px;
  margin: 100px auto 0;
}

.new-node {
  .elm {
    display: inline-block;
    width: 200px;
    margin-right: 10px;
  }
}

$border-color: #e0e0e1;
.nodes {
  border-top: 1px solid $border-color;
  .node {
    border-bottom: 1px solid $border-color;
  }
  .user-tag {
    display: inline-block;
    padding: 5px 7px;
    border: 1px solid #e0e0e1;
    border-radius: 3px;
    vertical-align: middle;
    &:not(:last-child) {
      margin-right: 5px;
    }
    .remove-owner {
      display: inline-block;
      color: inherit;
      text-decoration: none;
      margin-left: 5px;
    }
  }
  .owner-add {
    display: inline-block;
    margin-left: 20px;
    white-space: nowrap;
    vertical-align: middle;
  }
  .user-select {
    display: inline-block;
    width: 140px;
    margin-right: 5px;
    vertical-align: middle;
  }
  .api-key {
    display: inline-block;
    word-wrap: break-word;
    max-width: 100%;
    margin-right: 10px;
  }
  .node-delete-buttons {
    /*
    display: inline-block;
    margin-left: 60px;
    */
    margin-top: 20px;
    white-space: nowrap;
    > button {
      margin-right: 10px;
    }
  }
}

.form {
  max-width: 600px;
}

.lookup-link {
  display: inline-block;
  padding: 3px 5px;
  margin-left: 10px;
  border: 1px solid #a0a0f0;
}

.host-data {
  .protocol {
    margin-top: 10px;
  }
  .service {
    margin-left: 25px;
    cursor: pointer;
  }
  .sessions {
    margin-left: 50px;
  }
  .session {
    cursor: pointer;
  }
  .events,
  .eventData {
    width: 50%;
    float: left;
  }
  .service-sessions {
    .sessions {
      max-height: 0;
      overflow-y: hidden;
    }
    .opened-icon {
      display: none;
    }
    &.open {
      .sessions {
        max-height: 9999px;
      }
      .opened-icon {
        display: inline-block;
      }
      .closed-icon {
        display: none;
      }
    }
  }
}
