.content {
  margin-left: $sidebar-width;
  padding: $padding-top 25px;
  max-width: 1200px;
}

.title {
  margin-top: 17px;
  margin-bottom: 20px;
}

.login-page {
  max-width: 500px;
  margin: 100px auto 0;
}

.nodes {
  max-width: 600px;
  .nodes-table {
    width: 100%;
  }
  td:not(.button) {
    width: 50%;
  }
  td.button {
    width: 50px;
    padding-left: 15px;
  }
}
